<!DOCTYPE html>
<html>

<head>
    <title>Welcome Email</title>
</head>

<body>
    <h1>Ola, {{name}}!</h1>
    <p>clique nesse link <a href="http://localhost:3002/reset/{{token}}">aqui</a> para redifinir a sua senha.</p>
</body>

</html>