<html lang="pt-BR">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset de Senha</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 40px; background-color:
      #f4f4f4; } .container { max-width: 400px; margin: auto; background-color:
      #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); } .container
      h2 { text-align: center; margin-bottom: 20px; } .form-group {
      margin-bottom: 15px; } .form-group label { display: block; margin-bottom:
      5px; font-weight: bold; } .form-group input[type="password"] { width:
      100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; }
      .btn-submit { width: 100%; padding: 10px; background-color: #007bff;
      border: none; border-radius: 4px; color: #fff; cursor: pointer;
      transition: background-color 0.3s; } .btn-submit:hover { background-color:
      #0056b3; }
      .warning, .success {
        text-align: center;
      }
      .warning {
        color: red;
      }
      .success{
        color: green;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <h2>Reset de Senha</h2>
      <form>
        <div class="form-group">
          <label for="password">Nova Senha:</label>
          <input type="password" id="password" name="password" required />
          <input type="hidden" id="token" name="token" value="{{uuid}}" required />
        </div>

        <div class="form-group">
          <label for="password2">repita a nova senha:</label>
          <input type="password" id="password2" name="password2" required />
        </div>
        <p id="warning"></p>
        <button type="submit" class="btn-submit">Resetar Senha</button>
      </form>
    </div>
    <script >
  const btnSubmit = document.querySelector(".btn-submit");


btnSubmit.addEventListener("click", (event) => {
  const newPassword1 = document.getElementById("password");
  const newPassword2 = document.getElementById("password2");
  const loginWarning = document.getElementById("warning")
    event.preventDefault();
  
        if (newPassword1.value !== newPassword2.value) {
          newPassword1.value = ''
          newPassword2.value = ''
          loginWarning.classList.add('warning')
          loginWarning.innerText = 'senhas não coincidem'
          
          return
        } else {
          const token = document.getElementById("token").value;
          loginWarning.classList.add('success')
          loginWarning.innerText = 'sucesso na redefinição'
          fetch("http://localhost:3002/password/reset", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            password: newPassword1.value.trim(),
            token: token,
          }),
        });
          return;
        }
     
});

    </script>
  </body>

</html>